<div *ngIf="invoice">
  <form>
    <div class="form-group">
      <label for="invoice-date">Invoice date: </label>
      <div class="input-group">
        <input
          id="invoice-date"
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="invoice-date"
          [(ngModel)]="invoice.date"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary bi-calendar"
            (click)="d.toggle()"
            type="button"
          ></button>
        </div>
      </div>

      <label for="invoice-hour">Invoice hour: </label>
      <input
        class="form-control"
        name="invoice-hour"
        id="invoice-hour"
        [(ngModel)]="invoice.hour"
        placeholder="hour"
      />

      <label for="invoice-consumption">Invoice consumption: </label>
      <input
        class="form-control"
        name="invoice-consumption"
        id="invoice-consumption"
        [(ngModel)]="invoice.consumption"
        placeholder="consumption"
      />

      <label for="invoice-price">Invoice price: </label>
      <input
        class="form-control"
        name="invoice-price"
        id="invoice-price"
        [(ngModel)]="invoice.price"
        placeholder="price"
      />

      <label for="invoice-costPerHour">Invoice costPerHour: </label>
      <input
        class="form-control"
        name="invoice-costPerHour"
        id="invoice-costPerHour"
        [(ngModel)]="invoice.costPerHour"
        placeholder="costPerHour"
      />
    </div>
  </form>
  <button class="btn btn-primary" (click)="create()">Create</button>
</div>
