<div *ngIf="invoice">
  <form>
    <div class="form-group">
      <label for="invoice-date">Invoice date: </label>
      <input
        class="form-control"
        name="invoice-date"
        id="invoice-date"
        [(ngModel)]="invoice.date"
        placeholder="date"
      />

      <label for="invoice-hour">Invoice hour: </label>
      <input
        class="form-control"
        name="invoice-hour"
        id="invoice-hour"
        [(ngModel)]="invoice.hour"
        placeholder="hour"
      />

      <label for="invoice-consumption">Invoice consumption: </label>
      <input
        class="form-control"
        name="invoice-consumption"
        id="invoice-consumption"
        [(ngModel)]="invoice.consumption"
        placeholder="consumption"
      />

      <label for="invoice-price">Invoice price: </label>
      <input
        class="form-control"
        name="invoice-price"
        id="invoice-price"
        [(ngModel)]="invoice.price"
        placeholder="price"
      />

      <label for="invoice-costPerHour">Invoice costPerHour: </label>
      <input
        class="form-control"
        name="invoice-costPerHour"
        id="invoice-costPerHour"
        [(ngModel)]="invoice.costPerHour"
        placeholder="costPerHour"
      />
    </div>
  </form>
  <button class="btn btn-primary" (click)="create()">Create</button>
</div>
